<div class="center jumbotron">
  <h1>Welcome to Interonics</h1>

  <h2>
    This is the home page for Interonics
  </h2>

  <%= link_to 'Google map', googles_path, class: "btn btn-lg btn-primary" %>
</div>