<% provide(:title, 'Editing Marker') %>
<div class="col-lg-8 col-lg-offset-2">
  <h1>Editing Marker</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @google %> |
  <%= link_to 'Back', googles_path %>
</div>
